<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<link rel="shortcut icon" href="{{url_for('.static', filename='/img/favicon.ico')}}">
    <title>Invite Successfully</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

	{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='util.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='main.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/bootstrap/css/bootstrap.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animate/animate.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/css-hamburgers/hamburgers.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animsition/css/animsition.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/select2/select2.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.css')}}" >
	{% endblock %}

	{% endblock %}
</head>
<body>
	{% block content %}
	<div class="container-center" >
		<nav class="mb-4 navbar navbar-expand-lg bg-white bg-unique shadow fixed-top">

			<a class="navbar-brand font-weight-bold" href="#">Web based Annotator</a>
			<button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-list"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-3">
				<ul class="navbar-nav mr-auto text-left">
					<li class="nav-item">
						<a class="nav-link" href="/admin"><i class="fa fa-home"></i>Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/project"><i class="fa fa-share-alt"></i>Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/collaborator"><i class="fa fa-users"></i>Collaborators</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto nav-flex-icons">				
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="my-profile-picture" style="object-fit: cover;" src="{{url_for('.static', filename='/img/user.png')}}">
							<span class="text-primary font-weight-bold">{{user_admin}}</span> <sup class="badge badge-secondary">Admin</sup>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
							<a  href="/change_password?username={{username}}&isEmail=False"><button class="dropdown-item"><i class="fa fa-user m-r-15"></i>Change Password</button></a>
							<hr class="dropdown-divider">
							<a  href="#" data-toggle="modal" data-target="#logoutModal"> <button class="dropdown-item" ><i class="fa fa-sign-out  m-r-15"></i>Logout</button></a>
						</div>
					</li>

				</ul>
			</div>
		</nav>
		<div class="container-login100">
	   

			{% if (success ) %}
				<div style="opacity:0;" class="alert alert-success alert-dismissible fade show" role="alert" id="fade">
					<strong>Success!</strong> {{success}}
				</div>
			{% endif %}

			<div class="wrap-login100 p-l-50 p-r-50 p-t-30 p-b-30">
				<form class="login100-form validate-form flex-sb flex-w" onsubmit="return mySubmitFunction(event)" >
					<span class="login100-form-title text-success">
						SUCCESS
					</span>	
					<span class="form-title">
						Email has been sent successfully!
					</span>

					<div class="p-t-20 p-b-10">
						<span class="txt1">
							Email:
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Email không được để trống">
						
						<input class="input100 username" type="text" readonly name="email" value="{{email}}">
						
						
						<span class="focus-input100"></span>
					</div>
					
					<div class="p-t-20 p-b-10">
						<span class="txt1" >
							Share link:
						</span>
					</div>

					<div class="wrap-input100 validate-input" >
						<input id="link"class="input100" name="link" readonly value="{{link}}"  data-toggle="tooltip" data-placement="top" title="{{link}}">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn m-t-30 m-b-20 text-center">
						<button class="btn-grad login-button" onclick="copyToClipboard()">
							<i id="check" class="fa fa-check d-none "></i>
							<span id="copy">Copy Link To Clipboard</span>
						</button>
					</div>
					<div class="w-full text-center">
						<span class="txt2">
							Invite another?
						</span>
						<a href="/admin/project">
							Back
							<i class="fa fa-arrow-right"></i>
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
	
	<div id="dropDownSelect1"></div>

	{% block scripts %}
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/animsition/js/animsition.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/select2/select2.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/countdowntime/countdowntime.js')}}"></script>
	<script src="{{url_for('.static', filename='main.js')}}"></script>
	{% endblock %}
	{% endblock %}
</body>
</html>