<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<title>Trang chủ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

	{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='util.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='main.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/bootstrap/css/bootstrap.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animate/animate.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/css-hamburgers/hamburgers.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animsition/css/animsition.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/select2/select2.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.css')}}" >
	{% endblock %}

	{% endblock %}
</head>
<body>
	{% block content %}
	<div class="container-bottom"> 
		<nav class="mb-4 navbar navbar-expand-lg bg-light bg-unique">
			<a class="navbar-brand font-weight-bold" href="#">Web based Annotator</a>
			<button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-list"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-3">
				<!-- <ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Lifestyle <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Beauty</a>
					</li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tutorials 
							</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink-3">
							<a class="dropdown-item" href="#">Make-up</a>
							<a class="dropdown-item" href="#">Nails</a>
							<a class="dropdown-item" href="#">DIY</a>
						</div>
					</li>
				</ul> -->
				<ul class="navbar-nav ml-auto nav-flex-icons nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="/admin"><i class="fa fa-tachometer"></i>Trang chủ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/invitation"><i class="fa fa-users"></i>Collaborator</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/add_student"><i class="fa fa-cloud-upload"></i>Upload Data</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="my-profile-picture" style="object-fit: cover;" src="https://www.pngkey.com/png/detail/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png">
							<span class="text-primary font-weight-bold"> {{username}}</span> 
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
							<a  href="/my_settings"><button class="dropdown-item"><i class="fa fa-user m-r-15"></i>Settings</button></a>
							<hr class="dropdown-divider">
							<a  href="/logout"> <button class="dropdown-item" ><i class="fa fa-sign-out  m-r-15"></i>Logout</button></a>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<div class="mt-5">
			<div class="container">
                <div class="card shadow-lg rounded">
                    <div class="card-header border-bottom">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <h2 class="mb-0">Project</h5>
                            </div>
                            <div class="col-md-6 text-right">
                                <span type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                                    <a href="/admin/new_project" class="text-white">
										New Project
										<i class="fa fa-plus"></i>
									</a>
                                </span>
                            </div>
                            
                        </div>  
                    </div>
                    

                    <div class="text-center table-responsive">
                        <table id="example" class="table table-hover table-nowrap table-bordered">
                            <thead class="table-light font-weight-bold">
                                <tr>
                                    <td>ID</td>
                                    <td>Name</td>
                                    <td>Date Modified</td>
									<td>Languages</td>
                                    <td>Task</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody id="row-sent">
								{%for i in project%}
                                <tr>
                                    <td>{{i[0]}}</td>
                                    <td><a class="text-heading font-semibold" href="#">{{i[1]}}</a></td>
                                    <td>23-01-2022</td>
                                    <td>{{i[2]}}</td>
									<td><span class="badge badge-light">{{i[3]}}</span></td>
                                    <td><a href="#" onclick="edit_modal()"><button class="btn btn-grad btn-sm btn-square"><i class="fa fa-pencil-square"></i></button></a> 
                                        <a onclick="SomeDeleteRowFunction(this);" href="#"><button type="button" class="btn btn-grad btn-sm btn-square"><i class="fa fa-trash"></i></button></a>
										<a href="/admin/invitation?project={{i[0]}}"><button type="button" class="btn btn-grad btn-sm btn-square"><i class="fa fa-download"></i></button></a>
                                    </td>
                                </tr>
								{% endfor %}
                            </tbody>
							<tfoot class="table-light font-weight-bold">
                                <tr>
                                    <td>ID</td>
                                    <td>Name</td>
                                    <td>Date Modified</td>
									<td>Languages</td>
                                    <td>Task</td>
                                    <td>Action</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
				
            </div>
	   
            {% if success %}
				<div style="opacity:0;" class="alert alert-success alert-dismissible fade show" role="alert" id="fade">
					<strong>Success!</strong> {{success}}
				</div>
            {% endif %}

			<!-- <div class="wrap-login100 p-l-70 p-r-70 p-t-30 p-b-30">
					<span class="login100-form-title p-b-10">
						TRANG CHỦ
					</span>	

				<div class="p-t-10 p-b-9 text-center">
					<span class="txt1">
						Xin chào <span class="text-success font-weight-bold">{{result}}</span>
					</span>
				</div>     

				<div class="w-full text-center m-t-10">
					<a href="/admin/new_project" class="txt2 bo1">
						New Project
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div> -->

		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	{% block scripts %}
    <script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/animsition/js/animsition.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/select2/select2.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/countdowntime/countdowntime.js')}}"></script>
	<script src="{{url_for('.static', filename='main.js')}}"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    {% endblock %}
	{% endblock %}
</body>
</html>