<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<link rel="shortcut icon" href="{{url_for('.static', filename='/img/favicon.ico')}}">
    <title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='util.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='main.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/bootstrap/css/bootstrap.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animate/animate.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/css-hamburgers/hamburgers.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animsition/css/animsition.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/select2/select2.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.css')}}" >
	{% endblock %}

	{% endblock %}
</head>
<body>
	{% block content %}
	

	<div style="display:none;" class="alert alert-success alert-dismissible show" role="alert" id="fade">
	</div>
	
	<div class="container d-flex justify-content-center align-items-center h-100"> 

		<div class="wrap-login100 p-l-40 p-r-40 p-t-30 p-b-30">
		<form method="POST">
			

			<div id="pre_change">
				<span class="login100-form-title">
					Change Password
				</span>	
				<span class="form-title">
					Fill all the blank to change your password.
				</span>	
			<!-- <div class="form-group">
				<div class="p-t-20 p-b-10">
					<span class="txt1">
						Username:
					</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Email không được để trống">
					<input class="input100 username" type="text" name="username"  placeholder="Enter username..." readonly value="{{username}}">
					<span class="focus-input100"></span>
				</div>
			</div> -->
				<div class="form-group">
					<div class="p-t-20 p-b-10">
						<span class="txt1">
							New Password:
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Email không được để trống">
						<input id="password" class="input100" type="password" name="password"  placeholder="Enter password...">
						<span class="focus-input100"></span>
					</div>
				</div>
				
				<div class="container-login100-form-btn m-t-20 m-b-20 text-center">
					<button class="btn-grad login-button" type="button" onclick="changePassword()">
						Submit
					</button>
				</div>
			</div>

			<div id="change_success" class="d-none">
				<span class="login100-form-title text-success">
					SUCCESS
				</span>	
				<span class="form-title ">
					Password has been changed successfully!
				</span>
				<div class="text-center">
					<i class="fa fa-check display-4 text-success"></i>
				</div>
			</div>

			<div class="w-full text-center">
				<span class="txt2">
					Login?
				</span>
				<a href="/">
					Back
					<i class="fa fa-arrow-right"></i>
				</a>
			</div>
		</form>
		</div>
		
	</div>
	

	{% block scripts %}
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/animsition/js/animsition.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/select2/select2.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/countdowntime/countdowntime.js')}}"></script>
	<script src="{{url_for('.static', filename='main.js')}}"></script>
	{% endblock %}
	{% endblock %}
</body>
</html>