<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<title>Đăng nhập</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

	{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='util.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='main.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/bootstrap/css/bootstrap.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animate/animate.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/css-hamburgers/hamburgers.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animsition/css/animsition.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/select2/select2.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.css')}}" >
	{% endblock %}

	{% endblock %}
</head>
<body>
	{% block content %}
	<div class="container-center"> 
		<nav id="navbar-example2" class="navbar navbar-light bg-light fixed-top px-3" id="navbarSupportedContent">
			<a class="navbar-brand font-weight-bold " href="#">Phòng 302</a>
			<ul class="nav nav-pills" >
			  <li class="nav-item ">
				<a class="nav-link" href="/admin"><i class="fa fa-tachometer"></i>Trang chủ</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/admin/invitation"><i class="fa fa-cutlery"></i>Collaborator</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/add_student"><i class="fa fa-calendar"></i>Upload Data</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="javascript:void(0);"><i class="fa fa-money"></i>Tổng kết thu chi</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="btn dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown"  aria-expanded="false">
					<img class="my-profile-picture" style="object-fit: cover;" src="https://www.pngkey.com/png/detail/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png">
					<span class="text-primary"> {{user_admin}}</span> 
				</a>
				<ul class="dropdown-menu">
					<li>  <a  href="/my_settings"><button class="dropdown-item"><i class="fa fa-user m-r-15"></i>Settings</button></a></li> 
					<li><hr class="dropdown-divider"></li>
					<li>  <a  href="/logout"> <button class="dropdown-item" ><i class="fa fa-sign-out  m-r-15"></i>Logout</button></a></li>
				</ul>
			  </li>
			</ul>
		</nav>
		<div class="container-login100">
	   
			<!-- {% if (error != "") %}
				<div style="opacity:0;" class="alert alert-danger alert-dismissible fade show" role="alert" id="fade">
					<strong>Error!</strong> {{error}}
				</div>
			{% endif %}

			{% if (success != "") %}
				<div style="opacity:0;" class="alert alert-success alert-dismissible fade show" role="alert" id="fade">
					<strong>Success!</strong> {{success}}
				</div>
			{% endif %}

				<div  class="alert alert-warning alert-dismissible fade show facebookhide hide" role="alert" id="fade">
				<strong>Warning!</strong> Chức năng này đang phát triển!
				</div> -->

			<div class="wrap-login100 p-l-70 p-r-70 p-t-73 p-b-30">
				<form class="login100-form validate-form flex-sb flex-w" method="post" >
					<span class="login100-form-title p-b-10">
						Invite Collaborator 
					</span>	
					<div class="p-t-30 p-b-9">
						<span class="txt1">
							Email:
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Email không được để trống">
						
						<input class="input100 username" type="text" name="email" placeholder="Enter email...">
						
						
						<span class="focus-input100"></span>
					</div>
					
					<div class="p-t-10 p-b-9">
						<span class="txt1" >
							Share link:
						</span>
						<!-- <a href="/forgot_password" class="txt2 bo1 m-l-5">
							Quên mật khẩu?
						</a> -->
					</div>

					<div class="wrap-input100 validate-input" >
						<input class="input100" name="link" readonly value="http://127.0.0.1:5000/login/username={{username}}&password={{password}}" />
                        <input class="input100 d-none" name="username" value="{{username}}" />
                        <input class="input100 d-none" name="password"  value="{{password}}" />
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn m-t-20 m-b-20 text-center">
						<button class="btn-grad login-button ">
							Send
						</button>
						
					</div>
					<!-- <div class="container text-center">
					<span class="bo1">Hoặc</span>
					</div>
					<div class="container-login100-form-btn m-t-20 m-b-20 text-center">
						<a href="/callback" class="btn-google ">
							<img src="{{url_for('.static', filename='icon-google.png')}}" alt="GOOGLE">
							Google
						</a>
						
					</div> -->
					<!-- <div class="w-full text-center ">
						<span class="txt2">
							Bạn chưa có tài khoản?
						</span>
						<a href="/register" class="txt2 bo1">
							Đăng kí
						</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>

	{% block scripts %}
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/animsition/js/animsition.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/select2/select2.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/countdowntime/countdowntime.js')}}"></script>
	<script src="{{url_for('.static', filename='main.js')}}"></script>
	{% endblock %}
	{% endblock %}
</body>
</html>