<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<title>Trang chủ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

	{% block styles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='util.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='main.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/bootstrap/css/bootstrap.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animate/animate.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/css-hamburgers/hamburgers.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animsition/css/animsition.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/select2/select2.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.css')}}" >
	{% endblock %}

	{% endblock %}
</head>
<body>
	{% block content %}
	<div class="container-bottom" >
		<nav class="mb-4 navbar navbar-expand-lg bg-light bg-unique ">
			<a class="navbar-brand font-weight-bold" href="#">Web based Annotator</a>
			<button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-list"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-3">
				<!-- <ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Lifestyle <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Beauty</a>
					</li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tutorials 
							</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink-3">
							<a class="dropdown-item" href="#">Make-up</a>
							<a class="dropdown-item" href="#">Nails</a>
							<a class="dropdown-item" href="#">DIY</a>
						</div>
					</li>
				</ul> -->
				<ul class="navbar-nav ml-auto nav-flex-icons nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="/admin"><i class="fa fa-tachometer"></i>Trang chủ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/invitation"><i class="fa fa-users"></i>Collaborator</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/add_student"><i class="fa fa-cloud-upload"></i>Upload Data</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="my-profile-picture" style="object-fit: cover;" src="https://www.pngkey.com/png/detail/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png">
							<span class="text-primary font-weight-bold"> {{user_admin}}</span> 
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
							<a  href="/my_settings"><button class="dropdown-item"><i class="fa fa-user m-r-15"></i>Settings</button></a>
							<hr class="dropdown-divider">
							<a  href="/logout"> <button class="dropdown-item" ><i class="fa fa-sign-out  m-r-15"></i>Logout</button></a>
						</div>
					</li>
				</ul>
			</div>
		</nav>


		<div class="">
	   
            <div class="content">
                <!--content inner-->
                <div class="content__inner">
                  <div class="container">
                    <!--content title-->
                    <h1 class="text-center">Create New Project</h1>
                    <h2 class="content__title">Click on steps or 'Prev' and 'Next' buttons</h2>
                  </div>
                  <div class="container overflow-hidden">
                    <!--multisteps-form-->
                    <div class="multisteps-form">
                      <!--progress bar-->
                      <div class="row">
                        <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                          <div class="multisteps-form__progress">
                            <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Project Infor</button>
                            <button class="multisteps-form__progress-btn" type="button" title="Address">Address</button>
                            <!-- <button class="multisteps-form__progress-btn" type="button" title="Order Info">Order Info</button>
                            <button class="multisteps-form__progress-btn" type="button" title="Comments">Comments</button> -->
                          </div>
                        </div>
                      </div>
                      <!--form panels-->
                      <div class="row">
                        <div class="col-12 col-lg-8 m-auto">
                          <form class="multisteps-form__form" method="POST" enctype="multipart/form-data">
                            <!--single form panel-->
                            <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                              <h3 class="multisteps-form__title">Project Information</h3>
                              <div class="multisteps-form__content">
                                <div class="form-row mt-4">
                                  <div class="col-12 col-sm-6">
                                    <label class="">Project Name:</label>
                                    <input class="multisteps-form__input form-control" type="text" placeholder="Enter your project name..." name="project_name"/>
                                  </div>
                                  <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                    <label class="">Languages:</label>
                                    <select class="multisteps-form__select form-control" name="language">
                                        <option selected="selected" value="eng">English</option>
                                        <option value="vie">Vietnamese</option>
                                    </select>
                                  </div>
                                </div>
                
                                <div class="form-row mt-4">
                                  <div class="col-12 col-sm-12">
                                    <label class="">Upload file:</label>
                                    <input class="multisteps-form__input form-control" type="file" placeholder="Password" name="file"/>
                                  </div>
                                </div>
                                <div class="button-row d-flex mt-4">
                                  <button class="btn btn-grad ml-auto js-btn-next" type="button" title="Next">Next</button>
                                </div>
                              </div>
                            </div>
                            <!--single form panel-->
                            <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                              <h3 class="multisteps-form__title">Choose Task</h3>
                              <div class="multisteps-form__content">
                                <div class="form-row mt-4">
                                    <div class="col-12 col-sm-6">
                                      <label class="">Project Name:</label>
                                        <select class="multisteps-form__select form-control" name="task">
                                            <option selected="selected" value="textclass">Text Classification</option>
                                            <option value="pos">Part Of Speech Tagging</option>
                                            <option value="ner">Name Entity Recognition</option>
                                            <option value="parsing">Dependency Parsing</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                        <label class="">Method:</label>
                                        <select class="multisteps-form__select form-control" name="method">
                                            <option selected="selected" value="0">Manual</option>
                                            <option value="1">Binary</option>
                                            <option value="2">Captioning</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row mt-4">
                                    <div class="col-12 col-sm-12 mt-4 mt-sm-0">
                                        <label class="">Enter Label:</label>
                                        <input class="multisteps-form__input form-control" type="text" placeholder="Enter your label..." name="label"/>
                                    </div>
                                </div>
                                <div class="button-row d-flex mt-4">
                                  <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                  <button class="btn btn-grad ml-auto js-btn-next" type="submit" title="Next">CREATE</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	{% block scripts %}
    <script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/animsition/js/animsition.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/select2/select2.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/countdowntime/countdowntime.js')}}"></script>
	<script src="{{url_for('.static', filename='main.js')}}"></script>
    {% endblock %}
	{% endblock %}
</body>
</html>