<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<link rel="shortcut icon" href="{{url_for('.static', filename='/img/favicon.ico')}}">
    <title>Reviews | Paraphrase Detection</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	{% block styles %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='util.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='main.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/bootstrap/css/bootstrap.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animate/animate.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/css-hamburgers/hamburgers.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animsition/css/animsition.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/select2/select2.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.css')}}" >
	{% endblock %}

	{% endblock %}
</head>
<body>
	{% block content %}
	<div class="container-bottom"> 
		<nav class="mb-4 navbar navbar-expand-lg bg-white bg-unique shadow ">
			<a class="navbar-brand font-weight-bold" href="#">Web based Annotator</a>
			<button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-list"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent-3">
				<ul class="navbar-nav ml-auto nav-flex-icons">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="my-profile-picture" style="object-fit: cover;" src="{{url_for('.static', filename='/img/user.png')}}">
							<span class="text-primary font-weight-bold">{{username}}</span> 
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
							<a  href="/my_settings"><button class="dropdown-item"><i class="fa fa-user m-r-15"></i>Settings</button></a>
							<hr class="dropdown-divider">
							<a data-toggle="modal" data-target="#logoutModal"> <button class="dropdown-item" ><i class="fa fa-sign-out  m-r-15"></i>Logout</button></a>
						</div>
					</li>
				</ul>
			</div>
		</nav>


		<div class="content">
			<!--content inner-->
			<div class="content__inner">
				<div class="container">
				<!--content title-->
				<h1 class="text-center">Paraphrase Detection</h1>
				<h2 class="content__title"></h2>
				</div>
				
				<div class="container overflow-hidden">
				<!--multisteps-form-->
				<div class="multisteps-form">
					<!--progress bar-->
					<div class="row">
					<div class="col-12 col-lg-12 ml-auto mr-auto mb-4">
						<div class="multisteps-form__progress">
						<button class="multisteps-form__progress-btn js-active" type="button" title="User Info">1</button>
						{%for i in range(2, number+1)%}
						<button class="multisteps-form__progress-btn" type="button" title="User Info">{{i}}</button>
						{%endfor%}
						</div>
					</div>
					</div>
					<!--form panels-->
					
					<div class="row">
					<div class="col-12 col-lg-12 m-auto">
						<form class="multisteps-form__form" method="POST" enctype="multipart/form-data">
						<!--single form panel-->
						<input class="d-none" name='number' value="{{number}}"></input> 

						<div class="multisteps-form__panel shadow rounded bg-white js-active" data-animation="scaleIn">
							<!-- <h3 class="multisteps-form__title" >ID: {{datas[0]}}</h3> -->
							<input class="d-none" name='id_0' value="{{datas[0]}}"></input> 
							<div class="multisteps-form__content">
								<div class="row">
									<div class="col-6 col-lg-6 text-center border-right">
										<div class="card-body ">
											<label class="badge badge-info">Sentence 1:</label>
											<div>
												<span>{{sent1[0]}}</span>
											</div>
										</div>
									</div>
									<div class="col-6 col-lg-6 text-center">
										<div class="card-body ">
											<label class="badge badge-info">Sentence 2:</label>
											<div>
												<span>{{sent2[0]}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card-body border-top">
									<div class="row">
										<div class="col-6 col-lg-6 text-right">
											<button id="{{datas[0]}}_1" onclick="span_paraphrase(this, 1)" class="btn text-token col-3 col-sm-3 btn-outline-success  mt-1 mb-1" type="button">True
												<i class="fa fa-check d-none"></i>
												<input id="tag" class="btn review d-none" value="" name='tag_0'></input> 
											</button>
										</div>
										<div class="col-6 col-lg-6 text-left">
											<button id="{{datas[0]}}_0" onclick="span_paraphrase(this, 0)" class="btn text-token col-3 col-sm-3 btn-outline-danger  mt-1 mb-1" type="button">False
												<i class="fa fa-check d-none"></i>
												<input id="tag" class="btn review d-none" value="" name='tag_0'></input> 
											</button>
										</div>
									</div>
								</div>
								<div class="button-row d-flex card-footer bg-transparent border-top">
									<button class="btn btn-grad ml-auto js-btn-next" type="button" title="Next">Next</button>
								</div>
							</div>
						</div>

						{%for i in range(1, number-1)%}
						<div class="multisteps-form__panel shadow rounded bg-white" data-animation="scaleIn">
							<input class="d-none" name='id_{{i}}' value="{{datas[i]}}"></input> 
							<div class="multisteps-form__content">
								<div class="row">
									<div class="col-6 col-lg-6 text-center border-right">
										<div class="card-body ">
											<label class="badge badge-info">Sentence 1:</label>
											<div>
												<span>{{sent1[i]}}</span>
											</div>
										</div>
									</div>
									<div class="col-6 col-lg-6 text-center">
										<div class="card-body ">
											<label class="badge badge-info">Sentence 2:</label>
											<div>
												<span>{{sent2[i]}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card-body border-top">
									<div class="row">
										<div class="col-6 col-lg-6 text-right">
											<button id="{{datas[i]}}_1" onclick="span_paraphrase(this, 1)" class="btn text-token col-3 col-sm-3 btn-outline-success  mt-1 mb-1" type="button">True
												<i class="fa fa-check d-none"></i>
												<input id="tag" class="btn review d-none" value="" name='tag_{{i}}'></input> 
											</button>
										</div>
										<div class="col-6 col-lg-6 text-left">
											<button id="{{datas[i]}}_0" onclick="span_paraphrase(this, 0)" class="btn text-token col-3 col-sm-3 btn-outline-danger  mt-1 mb-1" type="button">False
												<i class="fa fa-check d-none"></i>
												<input id="tag" class="btn review d-none" value="" name='tag_{{i}}'></input> 
											</button>
										</div>
									</div>
								</div>
								<div class="button-row d-flex card-footer bg-transparent border-top">
									<button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
									<button class="btn btn-grad ml-auto js-btn-next" type="button" title="Next">Next</button>
								</div>
							</div>
						</div>
						{%endfor%}
						
						<div class="multisteps-form__panel shadow rounded bg-white" data-animation="scaleIn">
							<!-- <h3 class="multisteps-form__title">ID: {{datas[number-1]}}</h3> -->
							<input class="d-none" name='id_{{number-1}}' value="{{datas[number-1]}}"></input> 
							<div class="multisteps-form__content">
								<div class="row">
									<div class="col-6 col-lg-6 text-center border-right">
										<div class="card-body ">
											<label class="badge badge-info">Sentence 1:</label>
											<div>
												<span>{{sent1[number-1]}}</span>
											</div>
										</div>
									</div>
									<div class="col-6 col-lg-6 text-center">
										<div class="card-body ">
											<label class="badge badge-info">Sentence 2:</label>
											<div>
												<span>{{sent2[number-1]}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card-body border-top">
									<div class="row">
										<div class="col-6 col-lg-6 text-right">
											<button id="{{datas[number-1]}}_1" onclick="span_paraphrase(this, 1)" class="btn text-token col-3 col-sm-3 btn-outline-success  mt-1 mb-1" type="button">True
												<i class="fa fa-check d-none"></i>
												<input id="tag" class="btn review d-none" value="" name='tag_{{number-1}}'></input> 
											</button>
										</div>
										<div class="col-6 col-lg-6 text-left">
											<button id="{{datas[number-1]}}_0" onclick="span_paraphrase(this, 0)" class="btn text-token col-3 col-sm-3 btn-outline-danger  mt-1 mb-1" type="button">False
												<i class="fa fa-check d-none"></i>
												<input id="tag" class="btn review d-none" value="" name='tag_{{number-1}}'></input> 
											</button>
										</div>
									</div>
								</div>
								<div class="button-row d-flex card-footer bg-transparent border-top">
									<button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
									<button class="btn btn-grad ml-auto js-btn-next" type="submit" title="Next">Finish</button>
								</div>
							</div>
						</div>
						</form>
					</div>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
	

	<div id="dropDownSelect1"></div>
	{% block scripts %}
    <script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/animsition/js/animsition.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/select2/select2.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/countdowntime/countdowntime.js')}}"></script>
	<script src="{{url_for('.static', filename='main.js')}}"></script>
	<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    {% endblock %}
	{% endblock %}
</body>
</html>