<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<title>Trang chủ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

	{% block styles %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='util.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='main.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/bootstrap/css/bootstrap.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animate/animate.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/css-hamburgers/hamburgers.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/animsition/css/animsition.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/select2/select2.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.css')}}" >
	{% endblock %}

	{% endblock %}
</head>
<body>
	{% block content %}
	<div class="container-center"> 
		<nav id="navbar-example2" class="navbar navbar-light bg-light fixed-top px-3" id="navbarSupportedContent">
			<a class="navbar-brand font-weight-bold " href="#">Web based Annotator</a>
			<ul class="nav nav-pills" >
			  
			  <li class="nav-item dropdown">
				<a class="btn dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown"  aria-expanded="false">
					<img class="my-profile-picture" style="object-fit: cover;" src="https://www.pngkey.com/png/detail/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png">
					<span class="text-primary font-weight-bold"> {{result}}</span> 
				</a>
				<ul class="dropdown-menu">
					<!-- <li>  <a  href="/my_settings"><button class="dropdown-item"><i class="fa fa-user m-r-15"></i>Settings</button></a></li>  -->
					<li><hr class="dropdown-divider"></li>
					<li>  <a  href="/logout"> <button class="dropdown-item" ><i class="fa fa-sign-out  m-r-15"></i>Logout</button></a></li>
				</ul>
			  </li>
			</ul>
		</nav>

		<h2>{{task}}</h2>
		<!-- <div class="d-flex justify-content-center align-items-center"> -->
	   
            <!-- {% if (success != "") %}
				<div style="opacity:0;" class="alert alert-success alert-dismissible fade show" role="alert" id="fade">
					<strong>Success!</strong> {{success}}
				</div>
            {% endif %}
			<form method="post">
				
				{%for i in range(0, number)%}
					<h4>{{datas[i]}}</h4>
				{%endfor%}
				<select id="choices-multiple-remove-button" multiple name="review_textclass">
					
				{%for i in tag%}
					<option value="{{i}}">{{i}}</option>
				{%endfor%}
				</select>

				<button class="btn-grad login-button ">
					Next
				</button>
			</form> -->

			<form class="multisteps-form__form" method="POST" enctype="multipart/form-data">
				<!--single form panel-->
				<div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
				  <h3 class="multisteps-form__title">Project Information</h3>
				  <div class="multisteps-form__content">
					<div class="form-row mt-4">
					  <div class="col-12 col-sm-6">
						<label class="">Project Name:</label>
						<input class="multisteps-form__input form-control" type="text" placeholder="Enter your project name..." name="project_name"/>
					  </div>
					  <div class="col-12 col-sm-6 mt-4 mt-sm-0">
						<label class="">Languages:</label>
						<select class="multisteps-form__select form-control" name="language">
							<option selected="selected" value="eng">English</option>
							<option value="vie">Vietnamese</option>
						</select>
					  </div>
					</div>
	
					<div class="form-row mt-4">
					  <div class="col-12 col-sm-12">
						<label class="">Upload file:</label>
						<input class="multisteps-form__input form-control" type="file" placeholder="Password" name="file"/>
					  </div>
					</div>
					<div class="button-row d-flex mt-4">
					  <button class="btn btn-grad ml-auto js-btn-next" type="button" title="Next">Next</button>
					</div>
				  </div>
				</div>
			</form>
		<!-- </div> -->
	</div>
	

	<div id="dropDownSelect1"></div>
	{% block scripts %}
    <script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/animsition/js/animsition.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/select2/select2.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{url_for('.static', filename='/vendor/countdowntime/countdowntime.js')}}"></script>
	<script src="{{url_for('.static', filename='main.js')}}"></script>
	<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    {% endblock %}
	{% endblock %}
</body>
</html>